@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 微软雅黑,Microsoft Yahei;
	vertical-align: baseline;
}
.bottom {
	height: 16px;
    margin-bottom: 8px;
    width: 100%;
    bottom: 0;
    text-align: right;
    font-size: 12px;
}
.bottom .link {
	color: #666;
	text-align: right;
	size: 3px;
}

.topcenter{
	font-size: 20px;
	color: #333;
	margin-bottom: 16px;
	font-family: 微软雅黑,华文黑体,helvetica,arial;
	text-align: center
}

.middletextcenter{
	font-size: 16px;
	color: #333;
	font-family: 微软雅黑,华文黑体,helvetica,arial;
	text-align: center
}

.dotted{
	color: #bfbfbf;
}

.txt-rt {
	text-align: right;
}/* text align right */.txt-lt {
	text-align: left;
}/* text align left */.txt-center {
	text-align: center;
}/* text align center */.float-rt {
	float: right;
}/* float right */.float-lt {
	float: left;
}/* float left */.clear {
	clear: both;
}/* clear float */.pos-relative {
	position: relative;
}/* Position Relative */.pos-absolute {
	position: absolute;
}/* Position Absolute */.vertical-base {
	vertical-align: baseline;
}/* vertical align baseline */.vertical-top {
	vertical-align: top;
}/* vertical align top */nav.vertical ul li {
	display: block;
}/* vertical menu */nav.horizontal ul li {
	display: inline-block;
}/* horizontal menu */img {
	max-width: 100%;
}/*end reset*/html, body {
	font-family: 微软雅黑,Microsoft Yahei,Verdana,Tahoma,Arial;
	font-size: 100%;
	 'Raleway'
	, sans-serif;	background: url() no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6,a,p,input {
	 'Raleway'
	, sans-serif;	margin: 0;
}

ul,label {
	margin: 0;
	padding: 0;
}

body a:hover,body a {
	text-decoration: none;
}/*-- main --*/.agileits_copyright p {
	font-size: 14px;
	color: #fff;
	margin: 0;
	line-height: 1.8em;
	text-align: center;
	padding: 0 1em;
}

.agileits_copyright p a {
	color: #84C639;
	text-decoration: none;
}

.agileits_copyright p a:hover {
	color: #fff;
}

input[type="submit"],.agileits_copyright p a,.form-module .cta a {
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.main {
	padding: 4em 0;
}

.main h1 {
	text-align: center;
	color: #fff;
	font-size: 2.5em;
	margin-bottom: 1.5em;
}/* Form Module */.form-module {
	position: relative;
	background: #ffffff;
	max-width: 400px;
	width: 100%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	margin: 0 auto;
}

.w3_login_module {
	min-height: 475px;
}


.form-module .toggle .tooltip {
	position: absolute;
	top: 5px;
	right: -75px;
	display: block;
	background: rgba(0, 0, 0, 0.6);
	width: auto;
	padding: 5px;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	opacity: 1;
     'Ubuntu'
	, sans-serif !important;
}

.form-module .toggle .tooltip:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -5px;
	display: block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid rgba(0, 0, 0, 0.6);
}

.form-module .form {
	display: none;
	padding: 40px;
}

.form-module .form:nth-child(2) {
	display: block;
}

.form-module h2 {
	margin: 0 0 1.5em;
	color: #212121;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1;
}

.form-module input[type="text"],.form-module input[type="password"],.form-module input[type="email"] {
	outline: none;
	display: block;
	width: 100%;
	border: 1px solid #d9d9d9;
	margin: 0 0 20px;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: 400;
	font-family: Verdana,Tahoma,Arial;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	font-size: 16px;
}

.form-module input[type="text"]:focus,.form-module input[type="password"]:focus,.form-module input[type="email"]:focus {
	border: 1px solid #94DCEB;
	color: #333333;
}

.form-module input[type="submit"] {
	background: #84C639;
	width: 100%;
	border: 0;
	padding: 10px 15px;
	color: #ffffff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
	font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
	text-transform: uppercase;
}

.form-module input[type="submit"]:hover {
	background: #84C639;
}

.form-module .cta {
	background: #84C639;
	width: 100%;
	padding: 15px 40px;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
}

.form-module .cta a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
}

.form-module .cta a:hover {
	color: #212121;
}

i.fa.fa-times.fa-pencil {
	background: url(../images/1.png) no-repeat 7px 5px;
	display: block;
	width: 30px;
	height: 30px;
}

i.fa.fa-times {
	background: url(../images/2.png) no-repeat 7px 6px;
	display: block;
	width: 30px;
	height: 30px;
}/*-- //login --*//*-- start-responsive-design --*/@media (max-width:991px) {
	.main h1 {
		font-size: 2.3em;
	}
}

@media (max-width: 736px) {
	.main h1 {
		font-size: 2em;
	}
}

@media (max-width: 600px) {
	.main h1 {
		font-size: 1.8em;
	}
}

@media (max-width: 568px) {
	.form-module {
		max-width: 370px;
	}
}

@media (max-width: 480px) {
	.main h1 {
		font-size: 1.6em;
	}

	.form-module .toggle .tooltip {
		right: -63px;
		font-size: 10px;
	}

	.form-module {
		max-width: 335px;
	}
}

@media (max-width: 414px) {
	.form-module .toggle .tooltip {
		right: 0;
		display: none;
	}

	.form-module .form {
		padding: 25px;
	}

	.main h1 {
		font-size: 1.4em;
		line-height: 1.5em;
	}

	.w3_login_module {
		min-height: 420px;
	}

	.main {
		padding: 3em 0;
	}

	.agileits_copyright p {
		margin: 1em 0 0;
	}
}

@media (max-width: 375px) {
	.main h1 {
		font-size: 1.5em;
	}
}

@media (max-width: 320px) {
	.main {
		padding: 2em 0;
	}

	.main h1 {
		font-size: 1.3em;
	}

	.form-module .form {
		padding: 15px;
	}

	.form-module h2 {
		font-size: 1em;
	}

	.form-module input[type="text"],.agileits_copyright p, .form-module input[type="password"], .form-module input[type="email"] {
		font-size: 13px;
	}

	.form-module .cta a {
		font-size: 14px;
	}

	.form-module .cta {
		padding: 10px 0px;
	}

	.form-module {
		max-width: 275px;
	}

	.w3_login_module {
		min-height: 380px;
	}

	.w3_login_module {
		min-height: 300px;
	}
}